{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">Net Worth</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range (0, list_dict|length) %}
        <tr>
          <th scope="row">{{ list_dict[i]["rank"] }}</th>
          <td>{{ list_dict[i]["username"] }}</td>
          <td>{{ list_dict[i]["total"] }}</td>
        </tr>
       {% endfor %}
      </tbody>
    </table>
{% endblock %}
